html, body {
    font-family: verdana;
    scroll-behavior: smooth;
}

h4 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1.1rem;
    margin-left: 15px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {
    padding: .5rem;
    margin: 0 10px;
    text-decoration: underline;		
}

.box {
    padding: 1rem;
    background: white;
    margin: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

a { text-decoration: none; color: #333 }

li { list-style-type: none; }

.list__item {
    background: #eee;
    list-style-type: none;
    padding: .5rem;
    margin: 5px 15px;
    display: block;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.list__item a {			
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    display: block;
}
p {			
    padding: .7rem;
}

.free {
    background-color: #136F63;
}

.paid {
    background-color: #DA4167;
}